    <link rel="stylesheet" href="/css/header.css">    
   
    <header> 
        <navbar class="navbar">
            <div>
                <a href="/"><button>Home</button></a>
            </div>
            <div>
                <% if (user) { %>
                    <div>
                        <a href="/notes"><button>Minas Notas</button></a>
                    </div>
                <% } %>
            </div>
            <div>
                <% if (user) { %>
                    <form action="/logout" method="post">
                        <button type="submit">Sair</button>
                    </form>
                <% } else { %>
                    <a href="/login"><button>Login</button></a>
                <% } %>
            </div>
        </navbar>
    </header>