<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <%- include('partials/header') %>

    <main class="notas-interface">
        <section class="notas-header">
            <h1>Notas</h1>
        </section>
        <section class="notas-descricao">
            <p>
                Plataforma online que permite aos usuários criar, editar, organizar e acessar anotações de forma prática e rápida. Ideal para estudos, trabalho ou uso pessoal.
        </section>
    </main>


</body>
</html>