<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Minhas Notas</title>
    <link rel="stylesheet" href="/css/notes.css">
</head>
<body>
    <%- include('partials/header') %>


    <div class="container">
        <h1>Minhas Notas</h1>
        <div id="notes-container"></div>
        <a href="/notes/create" class="new-note-btn">Criar nova nota</a>
    </div>

    <script src="/js/notes.js"></script>
</body>
</html>
