<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/notesCreate.css">
</head>
<body>
    <%- include('partials/header') %>

    <div class="container">
        <h1>Criar uma nova nota</h1>
        <form action="/notes/create" method="POST">
            <label for="title">Título:</label>
            <input type="text" id="title" name="title" required>

            <label for="info">Descrição:</label>
            <input type="text" id="info" name="info" required>

            <label for="content">Conteúdo:</label>
            <textarea id="content" name="content" required></textarea>

            <button type="submit">Criar Nota</button>
        </form>
    </div>
</html>