<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar</title>
    <link rel="stylesheet" href="/css/userRegister.css">
</head>
<body>
    <%- include('partials/header') %>

    <div class="register-container">
        <h1>Cadastro</h1>
        <form action="/register" method="post">
            <label for="username">Nome</label>
            <input type="text" name="username" required>

            <label for="email">Email</label>
            <input type="email" name="email" required>

            <label for="password">Senha</label>
            <input type="password" name="password" required>

            <button type="submit">Cadastrar</button>
        </form>
        <div class="links">
            <a href="/login"><button type="button">Já tenho conta</button></a>
        </div>
    </div>
</body>
</html>